---
export const prerender = false; // 事前レンダリングを無効化

import BaseLayout from "@/layouts/base.astro";
import { getToken } from "@/components/auth/get_token";

const params = Astro.url.searchParams;
const code = params.get("code") || "";
if (code === "") {
    console.log("code is null");
    Astro.redirect("/");
}

// ログイン処理
const token = await getToken(code);
let response = false;
if (token === null) {
    console.error("token is null");
    return;
}
Astro.cookies.set("token", token.session, {
    maxAge: token.max_age,
    path: "/",
    sameSite: "strict",
    secure: true,
    httpOnly: true,
});
Astro.cookies.set("is_login", "true", {
    maxAge: token.max_age,
    path: "/",
    sameSite: "strict",
    secure: true,
});
response = true;
---

<BaseLayout title="ログイン認証中">
    <div class="pt-8 flex flex-col w-1/5 m-auto justify-center">
        {
            response ? (
                <p>ログイン認証が完了しました。</p>
            ) : (
                <p>ログイン認証に失敗しました。</p>
            )
        }
    </div>
</BaseLayout>
