---
import "@/styles/global.css";
import { Button } from "@/components/ui/button";
import { Post } from "@/components/post";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="flex flex-col">
			<Post message="それってあなたの感想ですよね！！！"></Post>
			<Post message="それってあなたの感想ですよね！！！2"></Post>
			<Post message="それってあなたの感想ですよね！！！3"></Post>
		</div>
	</body>
</html>
