---
import BaseLayout from "@/layouts/base.astro"
import { PopUp } from "@/components/posts/create/popup";
import Timeline from "@/components/posts/timeline.astro";
---

<BaseLayout title="ホーム / Disco-Chan">
	<div class="pt-8 flex flex-col w-1/5 m-auto justify-center">
		<PopUp client:load/>
	</div>
	<Timeline/>
</BaseLayout>